/** General CSS **/

:root {

    --primary: #212121;
    --secondary: #343434;
    --accent: #2054F3;



    --white: #FFF;
    --white-trans1: #ffffff2f;
    --white-trans2: #ffffff64;
    --gray: #b2b2b2;
    --darkgray: #2f2f2f;
    --black: #000;
    --blue: #0000ff;
    --darkblue: #0000b0;
    --red: #ff0000;
    --darkred: #c30000;
    --green: #00ff00;
    --darkgreen: #00a700;
    --purple: #8800ff;
    --darkpurple: #6804c1;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFF;
    font-family: 'Sono', sans-serif;
    font-weight: 600;
}

p,
a {
    color: #FFF;
    font-family: 'Sono', sans-serif;
    font-weight: 300;
}

a {
    color: #FFF;
    text-decoration: none;
}


body {
    background-color: var(--primary);
}






/** Scrollbar **/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff2f;
}

::-webkit-scrollbar-thumb {
    background: #ffffff2f;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff64;
    transition: all 0.3s ease-in-out;
}




/** Navbar **/

nav #navbar-desktop {
    height: 150px;
    background: linear-gradient(180deg, rgba(33,33,33,1) 45%, rgba(210,210,210,0) 94%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-desktop-items {
    display: flex;
    justify-content: flex-end;
}

#navbar-desktop a {
    display: block;
    height: 100%;
    width: 180px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #FFF;
}

#navbar-desktop .navbar-desktop-items a:hover {
    transition: all 0.2s ease-in-out;
}

#navbar-desktop .navbar-desktop-items h3 {
    padding: calc(30px - 26.4px/2 - 5px);
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#navbar-desktop .navbar-desktop-items a:hover h3 {
    padding: calc(30px - 26.4px/2 - 5px);
    margin: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    color: var(--accent);
}

.navbar-desktop-sitename {
    float: left;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.navbar-desktop-sitename h2 {
    padding: calc(30px - 28.8px/2 - 5px) 0;
    margin: 10px 0;
}



.dropbtn {
    cursor: pointer;
}

.dropbtn h3 {
    pointer-events: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212121d8;
    min-width: 160px;
    overflow: auto;
    border-radius: 10px;
    margin-top: 2px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}

.dropdown-content a:hover {
    color: #000 !important;
    transition: all 0.3s;
}

.show {
    display: block;
}







/* Screen size logic */

#navbar-mobile {
    display: none;
} 

@media only screen and (max-width: 761px) {
    #navbar-desktop {
        display: none !important;
    }    

    #navbar-mobile {
        display: block !important;
    }    
}

   



/* Mobile Version */

nav #navbar-mobile {
    height: 60px;
    background: linear-gradient(180deg, rgba(33,33,33,1) 45%, rgba(210,210,210,0) 94%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-mobile-items {
    display: flex;
    justify-content: flex-end;
}

#navbar-mobile a {
    display: block;
    height: 100%;
    width: 180px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #FFF;
}

#navbar-mobile .navbar-mobile-items a:hover {
    transition: all 0.2s ease-in-out;
    color: var(--accent);
}

#navbar-mobile .navbar-mobile-items h3 {
    padding: calc(30px - 26.4px/2 - 5px);
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#navbar-mobile .navbar-mobile-items a:hover h3 {
    padding: calc(30px - 26.4px/2 - 5px);
    margin: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    color: var(--accent);
}

.navbar-mobile-sitename {
    float: left;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.navbar-mobile-sitename h2 {
    padding: calc(30px - 28.8px/2 - 5px) 0;
    margin: 10px 0;
}



.nav-overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #141414;
    overflow-y: hidden;
    transition: 0.5s;
}
  
.nav-overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.nav-overlay .nav-overlay-content a {
    padding: 5px 0;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    height: auto !important;
    width: 100% !important;
}

.nav-overlay .closebtn {
    padding-right: 10px;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 60px;
    height: 60px !important;
}


.nav-overlay-content .active h3 {
    color: #ff0000b2;
}



/*** Footer ***/

footer {
    background-color: var(--secondary);
    color: var(--black);
    min-height: 230px;
}

footer .flex-box-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

footer .block-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3);
    min-height: 200px;
    text-align: center;
}

footer .block-2 {
    padding-top: 10px;
    width: calc(100% / 3 * 2);
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .block-3 {
    text-align: center;
    height: 30px;
}

footer img {
    height: 150px;
}

footer .block-2-1 {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-bottom: 10px;
}

footer .block-2-1 p {
    width: 75%;
    margin-left: 12.5%;
}

footer .block-2-2 {
    width: 50%;
    height: 100%;
    margin-bottom: 10px;
    text-align: center;
}

footer .block-2-2-1 {
    width: 100% !important;
    text-align: center;
}


footer .block-2-2-1, footer .block-2-2-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
}


@media only screen and (max-width: 750px) {
    footer .block-2 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    footer .block-2-1 {
        width: 75%;
    }

    footer .block-2-1 p {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    footer .flex-box-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    footer .block-1 {
        width: 100%;
    }

    footer .block-2 {
        width: 100%;
    }
}






/** Animations **/

@keyframes load-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.t1 {
    opacity: 0;
    animation: load-animation 1s ease-out 0s 1 normal forwards;
}

.t2 {
    opacity: 0;
    animation: load-animation 1s ease-out 0.2s 1 normal forwards;
}

.t3 {
    opacity: 0;
    animation: load-animation 1s ease-out 0.4s 1 normal forwards;
}

.t4 {
    opacity: 0;
    animation: load-animation 1s ease-out 0.6s 1 normal forwards;
}

.t5 {
    opacity: 0;
    animation: load-animation 1s ease-out 0.8s 1 normal forwards;
}

.t6 {
    opacity: 0;
    animation: load-animation 1s ease-out 1.0s 1 normal forwards;
}

.t7 {
    opacity: 0;
    animation: load-animation 1s ease-out 1.2s 1 normal forwards;
}

.t8 {
    opacity: 0;
    animation: load-animation 1s ease-out 1.4s 1 normal forwards;
}

.t9 {
    opacity: 0;
    animation: load-animation 1s ease-out 1.6s 1 normal forwards;
}

.t10 {
    opacity: 0;
    animation: load-animation 1s ease-out 1.8s 1 normal forwards;
}

.t11 {
    opacity: 0;
    animation: load-animation 1s ease-out 2.0s 1 normal forwards;
}

.t12 {
    opacity: 0;
    animation: load-animation 1s ease-out 2.2s 1 normal forwards;
}

.t13 {
    opacity: 0;
    animation: load-animation 1s ease-out 2.4s 1 normal forwards;
}

.t14 {
    opacity: 0;
    animation: load-animation 1s ease-out 2.6s 1 normal forwards;
}

.t15 {
    opacity: 0;
    animation: load-animation 1s ease-out 2.8s 1 normal forwards;
}

.t16 {
    opacity: 0;
    animation: load-animation 1s ease-out 3.0s 1 normal forwards;
}

.t17 {
    opacity: 0;
    animation: load-animation 1s ease-out 3.2s 1 normal forwards;
}

.t18 {
    opacity: 0;
    animation: load-animation 1s ease-out 3.4s 1 normal forwards;
}

.t19 {
    opacity: 0;
    animation: load-animation 1s ease-out 3.6s 1 normal forwards;
}

.t20 {
    opacity: 0;
    animation: load-animation 1s ease-out 3.8s 1 normal forwards;
}






/** Home **/

/** Home | Hero **/
.home-page .hero {
    position: normal;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    min-height: 100vh;
    width: auto;
    z-index: 50;
    opacity: 100%;

    display: flex;
    flex-wrap: wrap;
}

.home-page .hero .text-block {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.home-page .hero .block-1 {
    margin-top: 25vh;
    margin-left: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.home-page .hero .block-2 {
    margin-left: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.home-page .hero .block-3 {
    margin-left: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.home-page .hero .block-4 {
    margin-left: 20%;
    margin-top: 11px;
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
}

.home-page .hero .block-4 a {
    margin-top: 23px;
    background-color: var(--accent);  
    width: 400px; 
    padding: 10px 0;
    text-align: center;

    border-radius: 10px;
}

.home-page .hero .image-block {
    width: 50%;
    min-width: 500px;

    display: flex;
    justify-content: center;
    align-items: end;
}

.home-page .hero .image-block img {
    width: 80%;
    margin-bottom: 75px;
}

.home-page .hero h1 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
    z-index: 50;
    pointer-events: none;

    font-size: 60px;
}

@media only screen and (max-width: 1000px) {
    .home-page .hero .image-block {
        width: 100%;
        min-width: 500px;
    
        display: flex;
        justify-content: center;
        align-items: end;
    }
    
    .home-page .hero .image-block img {
        width: 60%;
        margin: 75px 0;
    }
}



/** Home / Conent **/


.home-page .content {
    width: 100%;
}

/** Home / Content / Over Mij **/

.home-page .content .over-mij {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow: hidden;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    /*background-image: url(../files/images/text-blob.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
}

.home-page .content .over-mij .text-block {
    width: 60%;
    min-width: 650px;
    display: flex;
    justify-content: end;
}


.home-page .content .over-mij .text-block .text {
    width: 82.5%;
    background-color: var(--secondary);
    height: 400px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-page .content .over-mij .text-block p,
.home-page .content .over-mij .text-block h1 {
    margin-left: 50px;
}

.home-page .content .over-mij .text-block h1 {
    padding-top: 20px;
}

.home-page .content .over-mij .text-block p {
    margin-left: 50px;
    font-size: large;
    width: 70%;
    padding-bottom: 20px;
}

.home-page .content .over-mij .image-block {
    width: 40%;
    display: flex;
    justify-content: start;
    min-width: 300px;   
}

.home-page .content .over-mij .image-block img {
    width: 90%;
    height: 400px;
    margin: 0 25% 0 0;
    border-radius: 0 10px 10px 0;
    object-fit: cover;
}


@media only screen and (max-width: 1084px) {
    .home-page .content .over-mij .text-block {
        width: 100%;
        min-width: 650px;
        display: flex;
        justify-content: center;
    }
    
    
    .home-page .content .over-mij .text-block .text {
        width: 82.5%;
        background-color: var(--secondary);
        height: 400px;
        border-radius: 10px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-page .content .over-mij .text-block p,
    .home-page .content .over-mij .text-block h1 {
        margin-left: 50px;
        text-align: center;
    }

    .home-page .content .over-mij .text-block p {
        margin-left: 10%;
        font-size: large;
        width: 80%;
    }

    
    .home-page .content .over-mij .image-block {
        width: 100%;
        display: flex;
        justify-content: center;
        min-width: 300px;
        padding-top: 40px;   
    }

    .home-page .content .over-mij .image-block img {
        width: 500px;
        height: 400px;
        margin: 0;
        border-radius: 10px;
        object-fit: cover;
    }
}



/** Home / Content / Projecten **/

.home-page .content .projecten {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left: 10%;
    width: 80%;
}

.home-page .content .projecten .button-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .content .projecten .button-block a {
    width: 400px;
    background-color: var(--accent);
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.home-page .content .projecten .button-block a:hover {
    transform: scale(1.01);
    transition: all .3s;
}

.home-page .content .projecten .button-block a h3 {
    display: inline;
    margin-right: 5px;
}

.home-page .content .projecten .button-block a img {
    height: 30px;
    display: inline;
}


.home-page .content .projecten .project-block h1 {
    width: 100%;
    text-align: center;
}

.home-page .content .projecten .project-block .flex-block {
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    pointer-events: auto;
}

.home-page .content .projecten .project-block .flex-block .php-block {
    width: 400px;
    margin: 2.5% 0;
    background-color: var(--secondary);
    transition: all 0.3s;
    border-radius: 10px;

    overflow: hidden;
}

.home-page .content .projecten .project-block .flex-block .php-block:hover {
    transform: scale(1.03);
    transition: all 0.3s;
}

.projecten .project-block .flex-block .php-block h2 {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.projecten .project-block .flex-block .php-block img {
    width: calc(100% + 4px);
    margin: -2px -2px 0 0;
}



/** Home / Content / Ervaringen **/

.home-page .content .ervaringen {
    padding-top: 150px;
    margin-left: 10%;
    width: 80%;
}

.home-page .content .ervaringen h1 {
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
}

.home-page .content .ervaringen .flex-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.home-page .content .ervaringen .text-block {
    width: 50%;
    min-width: 550px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.home-page .content .ervaringen .text-block .block {
    width: 70%;
    background-color: var(--accent);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin: 20px 0;

    border-radius: 10px;
}

.home-page .content .ervaringen .text-block .block img {
    margin-left: 50px;
}

.home-page .content .ervaringen .image-block {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-page .content .ervaringen .image-block img {
    width: 100%;
}


@media only screen and (max-width: 1375px) {
    .home-page .content .ervaringen .flex-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .home-page .content .ervaringen .text-block {
        width: 50%;
        min-width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}





/** Projects **/

.projects-page {
    height: auto;
}

/** Projects | Hero **/
.projects-page .hero {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 90vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.projects-page .hero h1 {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    transition: all .2s ease-in;
    z-index: 50;
    pointer-events: none;
}

.projects-page .hero-arrow {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 10vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    opacity: 0.2;
}



/** Content Block | Projects **/

.projects-block-1 {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    pointer-events: auto;
    margin-bottom: 55px;
    margin-top: -1.5%;
}

.projects-block-1 .block {
    width: 20%;
    min-width: 300px;
    margin: 2.5%;
    height: 60%;
    background-color: var(--white-trans1);
    transition: all 0.3s;
    border-radius: 10px;
}

.projects-block-1 .block:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.projects-block-1 .block h3 {
    text-align: center;
    margin-top: 20px;
}

.projects-block-1 .block p {
    text-align: center;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
}

.projects-block-1 .block img {
    width: 100%;
    border-radius: 10px;
}



.projects-flex-box {
    width: 80%;
    border-radius: 10px;
    background-color: var(--white-trans1);
    padding-bottom: 30px;
}

.projects-block-2 {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    pointer-events: auto;
    margin-bottom: 55px;
    margin-top: 100px;
}

.projects-block-2 .block {
    width: 20%;
    min-width: 300px;
    margin: 2.5%;
    height: 60%;
    background-color: var(--white-trans1);
    transition: all 0.3s;
    border-radius: 10px;
}

.projects-block-2 .block:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.projects-block-2 h2 {
    text-align: center;
    margin-top: 20px;
    font-size: x-large;
}

.projects-block-2 p {
    text-align: center;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    font-size: large;
}

.projects-block-2 .projects-image-background {
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
    background-color: var(--white-trans1);
}

.projects-block-2 img {
    width: 50%;
    margin: 30px 0 0 25%;
    border-radius: 10px;
}

.projects-block-2 .desc {
    margin-bottom: 20px;
}

.projects-block-2 .bttns a {
    color: var(--black);
    background-color: var(--gray);
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.5s;
}

.projects-block-2 .bttns a:hover {
    transition: all 0.5s;
    background-color: var(--darkgray);
    color: var(--white);
}

.projects-block-2 .bttn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.projects-block-2 .bttn-disabled:hover {
    color: var(--black) !important;
    background-color: var(--gray) !important;
}

@media only screen and (max-width: 550px) {
    .projects-block-2 p {
        text-align: left;
        margin-top: 10px;
        width: 90%;
        margin-left: 10px;
        font-size: large;
    }
}